body {
  font-family: 'Francois One', sans-serif;
  font-weight: 300;
  color:purple;
  background-size: 1200px;
                background-position: center center;
                background-attachment: fixed;
}

h1 {
  color:purple;
  font-size: 32px;
}

.jumbotron {
  background-color: white;
  font-size: 8px;
}

#wrapper 
{
  width: 960px;
  margin: 20px auto;
}

p {
  line-height: 26px;
}

li {
  line-height: 26px
  color:purple;
}

a:hover {
  color: purple;
}

#footer{
                color: white;
                margin: 20px auto;
                padding: 20px;
                text-align: center;
}

